{
  # email you@example.com
}

managant.com, www.managant.com {
  encode gzip

  # API: do NOT strip /api prefix
  handle /api/* {
    reverse_proxy api:8080
  }

  # Frontend
  handle {
    root * /usr/share/caddy
    file_server
  }
}
